<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86395118249-2a5a6gp16qom760p4h862jnq1onetrmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86395118249-2a5a6gp16qom760p4h862jnq1onetrmq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86395118249-moaloopk6lacpgqlktu4cnqm36o88g4q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlqhCzoEpUUH4MeegH2Z7RZi7OyROGCH4</string>
	<key>GCM_SENDER_ID</key>
	<string>86395118249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abstract.upaychat</string>
	<key>PROJECT_ID</key>
	<string>upaychat-eed41</string>
	<key>STORAGE_BUCKET</key>
	<string>upaychat-eed41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86395118249:ios:cb4be70d31bdd569977fb8</string>
	<key>DATABASE_URL</key>
	<string>https://upaychat-eed41.firebaseio.com</string>
</dict>
</plist>