<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upaychat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
				<key>dateExpires</key>
				<string>02/10/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_email_sender.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_paystack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F8B1ADB9BF9ACE67C6A83B49B8495D79607C2FB4</string>
						<key>dateExpires</key>
						<string>02/10/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43BR482V37</string>
						<key>name</key>
						<string>saurabh sharma</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>43BR482V37.com.abstract.upaychat</string>
				<key>com.apple.developer.team-identifier</key>
				<string>43BR482V37</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>43BR482V37.com.abstract.upaychat</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>59aa7afc-78bd-427a-8d4b-21cab057599c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.abstract.upaychat</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>43BR482V37</string>
				<key>name</key>
				<string>saurabh sharma</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
